<div class="planner-day card my-2">
    <h3 class="card-title ms-5 my-2">Day {{ day.day_number }} ( {{day.date?.toLocaleDateString()}} )</h3>
    <!--<p class="card-text ms-5 my-2">{{ day.description }}</p>-->
    <div class="ms-auto me-3 my-1">
        <button class="btn btn-primary small" (click)="addActivity()">Add Activity</button>
    </div>
    <table class="w-100 table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Activity</th>
                <th scope="col" class="text-center">Time</th>
                <th scope="col" class="text-center">Details</th>
            </tr>
        </thead>
        <tbody>
            <!--
            <ng-container *ngFor="let activity of this.day.activities"> -->
            <tr *ngFor="let activity of day.activities; let i = index" class="">
                <td>{{ activity.activity_name }}</td>
                <td class="text-center">{{ activity.activity_time }}</td>
                <td class="text-center"><button class="btn btn-secondary mx-auto" (click)="activityDetail(activity)">-</button></td>
            </tr>
        </tbody>
    </table>
    <div #activityPopupContainer></div>
</div>