<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LlamaTripPlanner</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <header class="">
    <nav class="navbar navbar-expand-lg container">
      <a class="navbar-brand" href="/">
        <div class="d-flex align-items-center">
          <img src="./assets/Logo.png" alt="Logo" class="logo d-inline-block align-text-top me-2">
          <h1 class="d-inline-block">Llama Trip Planner</h1>
        </div>
      </a>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/" class="btn btn-link nav-link">
            <i class="bi bi-house-fill fs-3">Home</i>
          </a>
        </li>
        <li class="nav-item">
          <a href="/logout" class="btn btn-link nav-link">
            <i class="bi bi-person-fill fs-3">{{ user ? 'Logout' : 'Login' }}</i> 
          </a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="container-fluid my-5" style="height: 80vh;">
    <router-outlet></router-outlet>
  </div>
</body>
</html>