<div class="card-header bg-primary text-white">
  <div class="row">
    <h5 class="mb-0 col">Reports</h5>
    <p class="col small text-end">Report Generated at: {{ now | date:'MM/dd/yyy hh:mm' }}</p>
  </div> 
</div>
<div class="card-body h-100">
  <div class="row mb-5 border-bottom border-bottom-5 border-primary">
    <app-next-trip-overview-report></app-next-trip-overview-report>
  </div>
  <div class="row mb-5 border-bottom border-bottom-5 border-primary">
    <app-destination-count-report></app-destination-count-report>
  </div>
  <div class="row mb-5">
    <app-day-with-most-activities-report></app-day-with-most-activities-report>
  </div>
</div>