<div class="modal show" tabindex="-1" role="dialog" (click)="onClosePopup()">
    <div class="modal-dialog" role="document">
        <div class="modal-content" (click)="$event.stopPropagation()">
            <div class="modal-header">
                <h5 class="modal-title">{{ activity.activity_name }}</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="onClosePopup()"></button>
            </div>
            <div class="modal-body">
                <!-- Form for updating or deleting the current activity -->
                <form id="activityForm{{ activity.activity_id }}" class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="submitActivity()">
                    <div id="nameDiv" class="mb-3">
                        <label for="activityName" class="form-label">Activity Name</label>
                        <input type="text" class="form-control" id="activityName" [formControl]="nameCtrl" name="activityName" required>
                        <div class="invalid-feedback">
                            Please provide a valid activity name.
                        </div>
                    </div>
                    <div id="urlDiv" class="mb-3">
                        <label for="activityUrl" class="form-label">Activity URL</label>
                        <input type="url" class="form-control" id="activityUrl" [formControl]="urlCtrl" name="activityUrl">
                        <div class="invalid-feedback">
                            Please provide a valid URL.
                        </div>
                    </div>
                    <div id="noteDiv" class="mb-3">
                        <label for="activityNote" class="form-label">Activity Note</label>
                        <textarea class="form-control" id="activityNote" [formControl]="noteCtrl" name="activityNote"></textarea>
                        <div class="invalid-feedback">
                            Please provide a valid note.
                        </div>
                    </div>
                    <div id="timeDiv" class="mb-3">
                        <label for="activityTime" class="form-label">Activity Time</label>
                        <input type="time" class="form-control" id="activityTime" [formControl]="timeCtrl" name="activityTime" required>
                        <div class="invalid-feedback">
                            Please provide a valid time.
                        </div>
                    </div>
                    <div id="etaDiv" class="mb-3" style="display: none;">
                        <label for="activityEta" class="form-label">Activity Estimated Time to Arrive</label>
                        <input type="text" class="form-control" id="activityEta" [formControl]="etaCtrl" name="activityEta">
                        <div class="invalid-feedback">
                            Please provide a valid estimated time to arrival.                             
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-2"><button type="button" class="btn btn-primary" (click)="submitActivity()">{{ mode }}</button></div>
                        <div *ngIf="mode == 'Update'" class="col-2"><button type="button" class="btn btn-danger" (click)="deleteActivity()">Delete</button></div>
                    </div>                    
                </form>
            </div>
        </div>
    </div>
</div>