<div class="container-fluid">
    <div class="row h-100">      
      <div class="col-4">
        <app-previous-trips class="row card me-1"></app-previous-trips>
      </div>
      <div class="col-8">
        <app-reports class="row card ms-1"></app-reports>
      </div>
    </div>
  </div>