<div class="">
    <div class="row" style="height: 80vh;">
        <div class="col-md-8 h-100">
            <app-planner></app-planner>
        </div>
        <div class="col-md-4 h-100">      
        <h4 class="m-0">Llama</h4>
        <app-llama-api></app-llama-api>
        </div>
    </div>
</div>