<div class="card-header bg-primary text-white">
  <h5 class="mb-0">Trips</h5>
</div>
<div class="card-body">
  <ul class="list-group">
    <!-- Show trips if available -->
    <ng-container *ngIf="trips.length > 0; else noTrips">
      <div class="row my-2 mx-1">
        <h5 class="card-title col">Create New Trip</h5>
        <a href="/planner" class="btn btn-primary col">Create Trip</a>
      </div>   

      <!-- Search bar -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search trips" [formControl]="searchTerm">
      </div>

      <!--Filtered trips-->
      <a href="/planner?trip_id={{ trip.trip_id }}" *ngFor="let trip of filteredTrips" class="text-decoration-none">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span>{{ trip.trip_name }}</span>
          <span class="badge bg-secondary">
            {{ trip.start_date | date: 'MM/dd/yyyy' }} - {{ trip.end_date | date: 'MM/dd/yyyy' }}
          </span>
        </li>
      </a>         
    </ng-container>
    <!-- Show message if no trips available -->
    <ng-template #noTrips>
      <li class="list-group-item">No trips yet. <a class="btn btn-primary" href="/planner">Create a new trip</a></li>
    </ng-template>
  </ul>
</div>
