<div class="col-md-6 offset-md-3 mt-5" >
    <div class="card">
        <div class="card-body">
            <h4> {{ user.username }}</h4>
            <p>Are you sure you want to logout?</p>
            <button (click)="logout()" class="btn btn-danger">Logout</button>
        </div>
    </div>
</div>