<h2 class="" contenteditable="true" id="destinationTitle{{ destination.destination_id }}" (blur)="onContentEdited($event)"> {{ destination.destination_name }} </h2>
<ng-container *ngFor="let i of range(0, destination.days.length, 2)">     
    <div class="row">      
        <div class="col">
            <div id="plannerDayContainer{{ destination.destination_id }}{{ destination.days[i].day_id }}"></div>
        </div>
        <div class="col" *ngIf="i + 1 < destination.days.length">
            <div id="plannerDayContainer{{ destination.destination_id }}{{ destination.days[i+1].day_id }}"></div>
        </div>      
    </div>
</ng-container>