.chat-input-container {
    position: relative;
    padding: 10px;
  }
  
  .chat-input {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 20px;
    padding: 5px 10px;
    max-width: 600px;
    margin: 0 auto;
    height: 5%;
  
    input {
      flex-grow: 1;
      border: none;
      outline: none;
      padding: 5px;
      font-size: 14px;
    }
  
    button {
      margin-left: 10px;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
  }

  .chatResult{
    height: 95%; 
    overflow-y: scroll;
  }

  pre {
    white-space: pre-wrap;
    word-wrap: break-word;
  }