<div class="h-100">
    <div class="chatResult">
        <ng-container *ngFor="let bubble of chatResults" class="d-flex flex-row justify-content-{{ bubble.isUser ? 'end' : 'start' }} mb-4">
            <img *ngIf="!bubble.isUser" src="assets/Logo_roundBackground_256.png" alt="avatar" style="width: 45px;">
            <div *ngIf="!bubble.isUser" class="p-3 me-3 border" style="border-radius: 15px; background-color: #fbfbfb;">
                <div class="small mb-0">
                    <pre>{{ bubble.userResponse }}</pre>
                  </div>
            </div>
            
            <img *ngIf="bubble.isUser" src="assets/User_roundBackground_256.png" alt="avatar" style="width: 45px;">
            <div *ngIf="bubble.isUser" class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);">
                <div class="small mb-0">
                    <pre>{{ bubble.userResponse }}</pre>
                  </div>
            </div>            
        </ng-container>
    </div>    
    <div class="chat-input-container position-relative bottom-0 start-0 end-0 card bg-transparent border-0" style="overflow: hidden;">
        <div class="chat-input card-body m-0">            
            <input id="chatInput" [value]="userMessage" type="text" (keyup)="onInputChange($event)" placeholder="Type your message...">
            <button class="btn btn-primary" (click)="onChatClick($event)">
                <i class="bi bi-arrow-right-square"></i>
            </button>
        </div>
        <div class="position-absolute w-100 h-100 d-flex flex-column align-items-center bg-white bg-opacity-75 justify-content-center spinnerToHide">
            <div class="spinner-border" role="status"></div>
            <!--<span class="sr-only">Loading...</span>-->
        </div>
    </div>
</div>