<div class="text-center">
    <h2 id="tripTile">{{ false ? trip.trip_name : "My trip" }}</h2>
</div>

<div class="row">
    <div class="col">
        <h4 class="text-center">Departure</h4>
        <input id="start_date" type="date" class="form-control text-center" disabled>
    </div>
    <div class="col">
        <h4 class="text-center">Return</h4>
        <input id="end_date" type="date" class="form-control text-center" disabled>
    </div>
</div>
<div class="row">

</div>
<div id="destinationsContainer" class="row mt-5 m-0 w-100 h-75 position-relative card bg-transparent border-0" >    
    <div class="card-body" style="overflow-y: scroll; overflow-x: hidden;">
        <div *ngFor="let i of range(0, 10)" id="destinationContainer{{ i }}"></div>
    </div>
    <div class="position-absolute w-100 h-100 d-flex flex-column align-items-center bg-white bg-opacity-75 justify-content-center spinnerToHide">
        <div class="spinner-border" role="status"></div>
        <span class="sr-only">Loading...</span>
    </div>
</div>